#index-body {
	background-color: #3b5272;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	height: 15%;
	margin-top: 2%;
	margin-left: 8%;
	margin-right: 8%;
	background-color:  #c1a8ad;
	box-shadow: 0px 0px 15px rgba(49,7,7,1);
	border-radius: 5px;
}

.indexLinks {
	padding-left: 10px;
	padding-right: 10px;
	color: #3b5272;
}

#index-h1 {
	align-self: center;
	text-align: center;
	font-family: Merriweather;
	font-size: 50px;
	height: 20%;
	margin-top: 10px;
}

#index-nav {
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin-top: -40px;
	font-family: Merriweather;
	font-weight: bolder;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #c6cdd1;
	height: 70%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 2%;
	box-shadow: 0px 0px 15px rgba(49,7,7,1);
	border-radius: 5px;
}

#index-p {
	position: relative;
	margin: 0 auto;
	height: 30%;
	width: 1100px;
	font-family: Merriweather	;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: auto;
	text-indent: 50px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 35px;
}

#index-form {
	background-color: #c1a8ad;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	height: 30%;
	width: 600px;
	border-radius: 20px;
	border: 5px solid #4d6486;
	padding-top: 10px;
	padding-bottom:10px;
}

#labelTag {
	font-family: Merriweather;
	font-weight: bolder;
}

#username {
	align-self: center;
	background-color: #c6cdd1;
}

button {
	align-self: center;
	text-align: center;
	background-color: #c6cdd1;
	font-size: 180%;
	height: 130px;
	width: 130px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(49,7,7,1);
}

button:hover {
	background-color: #4d6486;
	border: 5px solid #c6cdd1;
	color: #c6cdd1;
}

footer {
	background-color: pink;
}
