header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    background-color:  #c1a8ad;
    box-shadow: 0px 0px 15px rgba(49,7,7,1);
    border-radius: 5px;
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}