#index-body {
	background-color: #3b5272;
/*  background-image: linear-gradient( #3b5272, #c6cdd1);*/
/*  background: linear-gradient( #3b5272, #c6cdd1);*/

}
header {
/*	   justify-content: center;	
   height: 150px;
   margin-top: 3%;
   margin-left: 8%;
   margin-bottom: 3%;
   margin-right: 8%;
   background-color:  #c1a8ad ;
   box-shadow: 0px 0px 15px rgba(49,7,7,1);
   border-radius: 5px;
   text-overflow: ellipsis;
	white-space: nowrap;
 	overflow: hidden;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	height: 200px;
	margin-top: 2%;
	margin-left: 8%;
	margin-right: 8%;
	background-color:  #c1a8ad;
	box-shadow: 0px 0px 15px rgba(49,7,7,1);
	border-radius: 5px;
}

.indexLinks {
	padding-left: 10px;
	padding-right: 10px;
}

#index-h1 {
	align-self: center;
	text-align: center;
	font-family: Merriweather;
	font-size: 75px;
}

#index-nav {
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin-top: -40px;
	font-family: Merriweather;
	font-weight: bolder;
	font-size: 25px;
}

main {
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #c6cdd1;
/*  background-image: linear-gradient( #4d6486, #c6cdd1);*/
  margin-left: 8%;
	margin-right: 8%;
	margin-top: 2%;
	box-shadow: 0px 0px 15px rgba(49,7,7,1);
	border-radius: 5px;
}

#index-p {
	position: relative;
	margin: 0 auto;
	height: 250px;
	width: 1100px;
  margin: 5px auto;
  font-family: Merriweather	;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: auto;
  text-indent: 50px;
  font-weight: bold;
  font-size: 18px;
}

#index-form {
	background-color: #c1a8ad;
/*  background: linear-gradient(#c6cdd1, #4d6486);*/
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
	margin: 0 auto; 
	margin-bottom: 50px;
	text-align: center;
	height: 350px;
	width: 600px;
	border-radius: 20px;
	border: 5px solid #4d6486;
/*  box-shadow: 0px 0px 30px rgba(49,7,7,1);*/
}

#labelTag {
	font-family: Merriweather;
	font-weight: bolder;
}

#username {
	align-self: center;
	background-color: #c6cdd1;
}

button {
	align-self: center;
	text-align: center;
	background-color: #c6cdd1;
	font-size: 180%;
	height: 130px;
	width: 130px;
	border-radius: 50%;
/*		border: 5px solid #4d6486;*/
	box-shadow: 0px 0px 20px rgba(49,7,7,1);
}

footer {
	background-color: pink;
}