#textMsg{
  text-align: center;
  color:;
}
#animal-content{
  text-align: center;
  background-color:#9da9b9;
  border:2px solid black;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 5px;
  font-size: 20px;
}

button {
  align-self: center;
  text-align: center;
  background-color: #c6cdd1;
  font-size: 180%;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(49,7,7,1);
}
button:hover {
  background-color: #4d6486;
  border: 5px solid #c6cdd1;
  color: #c6cdd1;
}
#button-wrapper{
  text-align: center
}
*{
  font-family: Merriweather;
  background-color: #3b5272;
  color: black;
}

#animalpic{
  border: 2px solid black;
  height: 300px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color:  #c1a8ad;
  box-shadow: 0px 0px 15px rgba(49,7,7,1);
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header-h1{
  background-color: #c1a8ad;
  text-align: center;
  padding-top:10px;
}
#index-nav{
  background-color: #c1a8ad;
  text-align: center;
  padding-bottom: 30px;
  font-size:17px;
}
#header-link{
  background-color: #c1a8ad;
  color: #3b5272;
  padding-left: 10px;
  padding-right: 10px;
}

#beats-link{
  text-align: center;
}
#beats-holder{
  text-align: center;
  padding-top: 10px;
}
